{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ Title }}</title>

	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>

<nav class="navbar navbar-dark bg-primary justify-content-center">
    <a class="navbar-brand" href="{% url 'index' %}">
			<h2>
        <img src="{% static 'img/logo.svg' %}" width="40" height="40" class="d-inline-block align-top" alt="">
        Artifaker Imagineer
			<h2>
    </a>
</nav>
