{% load static %}
{% include "header.html" %}
<!-- {% include "upload.html" %} -->

<div class="container mt-2">
	<div class="row">
		<div class="col-3 mt-5 text-center ">
			<a href="{% url 'category' category=category_select.category_slug %}" class="btn btn-secondary btn-sm btn-block">{{category_select.category_name}}</a>
		</div>
	</div>
</div>

<div class="container mt-3 mb-5">
	<div class="row">
		<div class="col-md-6 mb-5">
			<img src="{{images.image_file.url}}" class="img-fluid">
		</div>

		<div class="col-md-6 mb-5">
			<h3>Your Story</h3>
			<div class="row">
				{% if messages %}
					{% for message in messages %}
						<div class="col-12">
							<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
					{% endfor %}
				{% endif %}

				<div class="col-12 ">
					{% for i in comment %}
						<div id="accordion">
							<div class="col-12" id="heading{{i.id}}">
								<button class="btn btn-link btn-block btn-sm text-left" data-toggle="collapse" data-target="#collapse{{i.id}}" aria-expanded="true" aria-controls="collapse{{i.id}}" >
									Command {{i.id}}
								</button>
							</div>
						</div>

						<div id="collapse{{i.id}}" class="collapse p-3" aria-labelledby="heading{{i.id}}" data-parent="#accordion">
							<div class="col-12">
								{{i}}
							</div>
						</div>
					{% endfor %}
				</div>

				{% if not comment %}
					<div class="col-12 ">
						<small>There are no story.</small>
					</div>
				{% endif %}

				<div class="col-12 mt-2">
					<form method="POST">{% csrf_token %}
						<div id="accordion">
							<button class="btn btn-link btn-block btn-sm text-left" data-toggle="collapse" data-target="#collapseComment" aria-expanded="true" aria-controls="collapseComment" >
								Write a Story
							</button>
						</div>

						<div id="collapseComment" class="collapse show p-3" aria-labelledby="heading{{i.id}}" data-parent="#accordion">
							<div class="col-12">
								<textarea class="form-control" name="comment_text" rows="3" required></textarea>
							</div>

							<div class="col-12 text-right mt-2 mb-5">
								<button type="submit" class="btn btn-secondary btn-sm mb-5">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>


{% include "footer.html" %}
